fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
passlib
bcrypt==4.0.1
pandas
numpy
scipy
matplotlib
seaborn
psycopg2-binary

scikit-learn
xgboost
lightgbm
catboost

torch
ngboost
shap

joblib
reportlab
fastapi-mail
pytorch_tabnet
ngboost
shap
imbalanced-learn
category_encoders
requests
beautifulsoup4