fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
passlib
bcrypt==4.0.1
pandas
numpy
matplotlib
seaborn

scikit-learn
xgboost
lightgbm
catboost

torch
pytorch-tabnet

ngboost
shap

joblib
reportlab
fastapi-mail
pytorch_tabnet
ngboost
shap
imbalanced-learn
category_encoders
requests
beautifulsoup4