--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
passlib
bcrypt==4.0.1
pandas
numpy
scipy
psycopg2-binary
scikit-learn
xgboost
ngboost
lightgbm
catboost
torch
joblib
reportlab
fastapi-mail
category_encoders
requests
python-dotenv
shap
imbalanced-learn
google-generativeai
authlib
httpx
itsdangerous
prometheus-fastapi-instrumentator